nav {
    display: flex;
    justify-content: space-around;
    background-color: #2677f1;
    margin-bottom: 50px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.829);
    font-size: larger;
    height: 50px;
    width: 100px;
    text-align: center;
}

a:hover {
    background-color: aqua;
    border-radius: 10px;
}