.empty {
    text-align: center;
}

.status {
    display: flex;
    justify-content: space-around;
}

li {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    height: 50vh;
    width: 100vw;
}

.status>button,
form>button {
    border: solid #2677f1 3px;
    border-radius: 10px;
    width: 100px;
}

.status>p {
    font-size: 3vh;
}

.status>button:hover,
form>button:hover {
    color: rgb(26, 100, 211);
}

#form {
    width: 100vw;
    height: 25vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;

    text-align: center;
}

form {
    height: 75%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

form>div {
    display: flex;
    justify-content: space-around;

}

form>div>input {
    border: solid 1px #1d1d1d;
    border-radius: 15px;
    width: 75vw;
}

form>button {
    align-self: center;
}

#form>h2,
#form>h3 {
    font-size: 3vw;
}