<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="org.example.productexercise.models.Product" />
        <mapping class="org.example.productexercise.models.Image" />
        <mapping class="org.example.productexercise.models.Comment" />
        <mapping class="org.example.tpproduct.models.articles.Article" />
        <mapping class="org.example.tpproduct.models.articles.Food" />
        <mapping class="org.example.tpproduct.models.articles.Electronic" />
        <mapping class="org.example.tpproduct.models.articles.clothing.Clothes" />
        <mapping class="org.example.tpproduct.models.selling.Selling" />
        <mapping class="org.example.tpproduct.models.Customer" />
    </session-factory>
</hibernate-configuration>

