html{
    margin:0;
}

body{
    min-height: 100dvh;
}

body > div{
    min-height: 10vh;
}

div > div{
    height: 30vh;
    width: calc(50% - 1px);
    margin-top: 2px;
}

body>div:not(#un,div>div){
    margin-left:3px;
    margin-right: 3px ;
}

.left{
    margin-right: 1px;
}
.rigth{
    margin-left: 1px;
}

.left,.rigth{
    margin-top: 10px;
    margin-bottom: 10px;
}

#un{
    background-color: rgb(0, 132, 255);
}
#deux{
    background-color: green;
    
}

#trois{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

#quatre{
    background-color: blueviolet;
}
#cinq{
    background-color: red;
}
#sept{
    background-color:gray ;

}
#huit{
    background-color: rgb(0, 132, 255);
}
#neuf{
    background-color: rgb(170, 77, 0);
}