body{
    margin: 0;
    height: 97vh;
    width: 97vw;
    padding: 10px;
}

h1{
    margin: 0;
}

fieldset{
    display: flex;
    justify-content: space-around;
    width: 96.7vw;
}

div{
    margin-bottom: 50px;
}

img{
    height: 200px;
    width: 200px;
}

div.avatar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#darkmode{
    position: absolute;
    bottom: 3vh;
    left: 3vw;
}

.dark{
    background-color: black;
    color:#fff;
}

#selected{
    height: 200px;
    width: 200px;
    border: 14px solid #13ff00;
    border-top: 10px double rgb(255, 1, 255);
    border-right: 10px dotted yellow;
    border-bottom: 10px dashed #ff0000;
    border-left: 10px ridge #00eaff;
    border-radius: 125px 20px 50px 300px;
}

#selected>label>img{
    height: 400px;
    width: 1000px;
}