<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:if="${products.isEmpty()}">No product id find</p>
<div th:unless="${products.isEmpty()}">
    <div>
        <form th:method="get" th:action="@{/search}">
            <label th:id="category" th:for="category">
                <input th:id="category" name="category" th:type="text" placeholder="Category">
            </label>
            <label th:id="priceMax" th:for="priceMax">
                <span><p>Min 0 Max 1000</p></span>
                <input th:id="priceMax" name="priceMax" th:min="0" th:max="1000" th:type="range" placeholder="Category">
            </label>
            <button th:type="submit">Search</button>
        </form>
    </div>
    <div>
        <h1>Product list</h1>
        <ul>
            <li th:each="product: ${products}">
                <a th:href="@{/product/{id}(id=${product.getId()})}"> <span th:text="${product.getName()}" /></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>